*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backColor1: #f1f1f1;
    --backColor2: black;
    --textColor: white;
    --backColor3: white;
    --padding: 1rem;
    --padding-list: 1.5rem;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--backColor1);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.head {
    text-align: center;
    margin: 3rem;
    font-size: 1.8rem;
}

.head h1 {
    padding: 2rem;
}

.head span {
    background-color: var(--backColor2);
    color: var(--textColor);
    padding: 0 0.5rem;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 66%;
}

.left-box {
    width: 100%;
    background-color: var(--backColor3);
    box-shadow: 0px 4px 12px 1px grey;
    margin-bottom: 5rem;
}

.left-box img {
    width: 100%;
}

.box-content {
    padding: var(--padding);

}

.left-box h1 {
    padding: var(--padding);
    font-size: 2.5rem;
}

.left-box p {
    padding: var(--padding);
    font-size: 1.6rem;
}

.left-box .caption {
    padding-top: 2rem;
}

.left-box button {
    padding: var(--padding);
    margin: 2rem;
    background-color: var(--backColor3);
    border: 1px solid black;
    height: 5rem;
}

.left-box button a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.left-box button:hover {
    background-color: rgb(196, 195, 195);
}

.flex-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-box {
    width: 15rem;
    font-size: 2rem;
}

.comment-box .comment-counter {
    background-color: var(--backColor2);
    color: white;
    padding: 0.2rem 0.7rem;
}

.right-side {
    display: flex;
    flex-direction: column;

}

.right-box1 {
    background-color: var(--backColor3);
    height: 34%;
    width: 43rem;
    box-shadow: 0px 4px 12px 1px grey;
}

.right-box1 img {
    width: 100%;
    height: 27rem;
}

.box-text h1 {
    padding: var(--padding);
    font-size: 2.3rem;
}

.box-text p {
    padding: var(--padding);
    font-size: 1.6rem;
}

.post-list ul {
    list-style: none;
}

.post-list li {
    border-top: 1px solid rgb(226 226 226);
}

.post-menu {
    margin-top: 5rem;
    box-shadow: 0px 4px 12px 1px grey;
}

.post-title {
    background-color: rgb(226 226 226);
    font-size: 2rem;
    padding: 2.5rem 1.5rem;
}

.img-section img {
    width: 100%;
    height: 100%;
}

.recent-post {
    display: flex;
    width: 100%;
    height: 8.5rem;
    background-color: var(--backColor3);
    padding: var(--padding-list);
}

.recent-post:hover {
    background-color: rgb(196 195 195);
}

.text-section {
    margin: 0.2rem 1.5rem;
    font-size: 1.6rem;
    line-height: 2.3rem;
}

.tag {
    margin-top: 5rem;
    width: 43rem;
    box-shadow: 0px 4px 12px 1px grey;
}

.tag-title {
    background-color: rgb(226 226 226);
    font-size: 2rem;
    padding: 2.5rem 1.5rem;
}

.tag-list {
    min-height: 15rem;
    background-color: var(--backColor3);
    padding: var(--padding-list);

}

.tag-list li {
    display: inline-block;
    background-color: rgb(226 226 226);
    margin: 0.2rem;
    font-size: 1.4rem;
    padding: 0.2rem 1rem;
    margin-bottom: 1.3rem;
}

footer {
    position: relative;
    background-color: #616161;
    width: 100%;
    height: 18rem;
    margin-top: 1rem;
}
.buttons{
    position: absolute;
    left: 2rem;
    top: 3rem;
}
.buttons button {
    padding: 1.4rem 2.6rem;
    font-size: 1.6rem;
    background: black;
    color: white;
    border: none;
}
.buttons button:disabled{
    opacity: 0.3;
}
.buttons .previous:hover{
    cursor: not-allowed;
    background-color: #ccc;
    color: black;
}
.buttons .next:hover{
    background-color: #ccc;
    color: black;
    cursor: pointer;
}
footer p{
    position: absolute;
    color: white;
    top: 11rem;
    left: 2rem;
    font-size: 1.5rem;
}